



<div id="graphic_design" class="note">	
	
	<img id="box_bag" class="pull-right hidden-phone" src="/assets/box_bag.png" />	
	
	
	<h1>Quality Graphic Design</h1>		
	
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt placerat nisi et auctor. 
		Phasellus augue est, facilisis et suscipit et, porta et mi. 
		Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
		Nunc dignissim faucibus sem nec accumsan.
	</p>
	
	<a class="btn btn-primary btn-large">		
		Read More
		<i class="icon-chevron-right icon-white"></i>
	</a>
	
	
</div>

<div style="clear: both;"></div>

<div class="services_nav">
	<div>
		<ul>			
			<li><a href="#">Web Design</a></li>
			<li><a href="#">Graphic Design</a></li>
			<li><a href="#">Icon Design</a></li>
			<li><a href="#">Logo Design</a></li>
		</ul>
	</div>
	
</div>




<div class="blurb_container">
	<p>
		Nam nec dictum metus. Pellentesque aliquet tincidunt tincidunt. 
		Donec felis erat, varius ut cursus eget, semper id dolor. 
		Nam egestas scelerisque blandit. Nulla a odio nulla. - Joe Dirt, FakeSite.com
	</p>
</div>

<div class="row">
	<div class="span4">
		<h3>Who We Are</h3>
		<p>
			In id turpis ac eros vehicula condimentum. 
			Nam faucibus, ante et hendrerit porttitor, nunc velit placerat orci, 
			sed dignissim ligula urna at sem. 
		</p>
		<a href="#">read more</a>
	</div>
	
	<div class="span4">
		<h3>Our Services</h3>
		<p>
			In id turpis ac eros vehicula condimentum. 
			Nam faucibus, ante et hendrerit porttitor, nunc velit placerat orci, 
			sed dignissim ligula urna at sem. 
		</p>
		<a href="#">read more</a>
	</div>	
		
	<div class="span4">
		<h3>From the Blog</h3>
		<p>
			In id turpis ac eros vehicula condimentum. 
			Nam faucibus, ante et hendrerit porttitor, nunc velit placerat orci, 
			sed dignissim ligula urna at sem. 
		</p>
		<a href="#">read more</a>
	</div>	
		
			
		
</div>


<div style="clear: both;"></div>




