/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "bootstrap";
@import "bourbon";

header {
  padding-top: 30px;
  margin-bottom: 28px;
  background: url('/assets/header_blue_gradient.png');
}


.navbar {
  
}



#gray_blue_container {
  
  background: url('/assets/blue_gray_header_gradient.png');
  
}



#graphic_design {
  background: url('/assets/gold_background.png');  
  height: 310px;
  padding: 20px;
  
  
  h1 {
     color: #2D5F9F;
  }    
  
}


.blurb_container {
  margin-top: 80px;  
  padding: 20px;
  
  p {
    color: #A3A3A3;
    font-size: 1.8em;
  }
  
}




.footer_note {
  
  ul {
    clear: both;
    
    li{
      float: left;
      list-style-type: none;
      margin-right: 10px;
      
      a {
        color: #666;
      }
      
    }
  }
  
   h1 {
     color: #2D5F9F;
   }
   p {
     color: black;
   }
   position:relative;
   width:100%;
   padding:1em 1.5em;
   margin:2em auto;
   color:#666;
   background:#000;
   overflow:hidden;
}

.footer_note:before {
   content:"";
   position:absolute;
   top:0;
   left:0;
   border-width: 20px 20px 0  0;
   border-style:solid;
   border-color: #fff #658E15;
   background:#658E15;
   -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   display:block; width:0; /* Firefox 3.0 damage limitation */
}




#services_nav {
  float:right;
  position:relative;
  left:-50%;
  text-align:left;    
  margin-top: -22px;
    
  ul {
    list-style:none;
    position:relative;
    left:49%;
    padding-left: 0;
          
      li {                        
          
          float: left;
          position:relative;
          
          
          a {                         
            margin: 0px;
            background: url('/assets/services_nav_background.png');
            float: left;            
            color: #666;
            padding: 30px 63px;
            text-align: center;
            white-space: nowrap;
            font-size: 1.2em;
            
            &:hover {
              background: gold;
              color: white;
            }
            
            
          }
          
      }
      
  }
    
}



























